.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}